/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FAFFC1;
  font: 300 1.6em roboto, sans-serif;
  text-align: center;
  color: #4b5646;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
}

h1, h2 { margin-bottom: 1em; }
h1 { font-size: 2em;}
header{padding: 2em 0 0.5em 0; }
p { margin: 1rem 0; }

a         { color: #1dcaff; }
a:hover   { color: #fff; }
a:visited { color: #1dcaff; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


article {
  margin: 0 auto;
  padding: 1.5em .65em 1.8em;
  max-width: 38em;
}

article h2 {
  font-size: 1.2em;
}

article h3 {
  font-size: 0.85em;
  margin-top: 1em;
}
article p {
  margin-top: 0em;
}


.box:nth-child(1), header {
  background: #fff;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
